:root {
     --navbar-border: #cfcfcf;
     --bg-navbar: #fff;
     --bg-card: #fff;
     --border: #e1e1e1;
     --text-color: #000;
     --active-menu-item: #FF0000;
     --search-button-color: #F44848;
     --button-text-color: #fff;
     --bg-happy-clients: #6168FF;
     --bg-professionals: #0ABF54;
     --bg-adopted-pets: #FF4F80;
     --bg-awards: #FF9934;
     --summary-text-color: #fff;
     --bg-blogs-color: #f4f4f4;
}